p{
    font-family: Arial;
    font-size: medium;
}
#title{
    font-family: Courier New;
}
#output{
    font-family: Courier New;
    font-size: 200%;
    font-weight: bold;
}
#GateAND{
    display: none;
}
#GateOR{
    display: none;
}
#GateXOR{
    display: none;
}
#GateNAND{
    display: none;
}
#GateNOR{
    display: none;
}